*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    
    color: #2a2a2a;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 24px;
    background-color: blue;
    
}

.form-input{
    border-color:#2a2a2a;
   
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.is-hidden {
    display: none;
}

